.main {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    color: #ae22ea;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    animation-name: openAnime;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.info {
    display: flex;
    flex-direction: column;
}

.infoName {
    font-size: 18px;
    font-weight: 700;
}

.infoText {
    font-size: 15px;
    color: #373e68;
}

.icon {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@keyframes openAnime {
    from { bottom: -800px; }
    to { bottom: 0; }
}