@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&display=swap');

body {
    height: 100vh;
    background-color: #ededed; /*#f7f8fd*/
    font-family: 'Outfit', sans-serif;
    font-size: 10px;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}


header {
    width: 100%;
    padding: 1rem 0;
    background-color: #373e68;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: #FFFFFF;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    font-weight: 400;
    align-items: center;
}

.headerContainer img {
    margin-left: 2rem;
}

.headerText {
    flex: 1;
    font-weight: 700;
    margin-left: 2rem;
}

.headerButton {
    background-color: #ae22ea;
    padding: .5rem;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: .5rem;
    border: 0;
    transition: all ease .5s;
}

.headerButton img {
    margin: 0;
}

.headerButton:hover {
    opacity: .5;
}

.loading,
.alert {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #ae22ea;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.container {
    width: 100%;
    margin-top: 2rem;
}

@media (min-width: 320px) and (max-width: 960px) {

    header {
        border-radius: 0;
    }

    .main { 
        margin: 0;
    }

    .headerButton img {
        margin: 0;
    }

    .headerText {
        font-size: 1.3rem;
    }

    .headerButton {
        font-size: .8rem;
        margin-right: 1rem;
        padding: .5rem;
    }

    .container {
        width: 90%;
    }
}
